<template>
    <div id="app">
        <div class="header-area">实习生管理系统</div>

        <div class="choice-area">
            <el-form class="choice"
                     ref="form"
                     :model="form"
                     label-width="80px">
                <el-form-item class="choice-item"
                              label="姓名">
                    <el-input v-model="form.name"></el-input>
                </el-form-item>

                <el-form-item class="choice-item"
                              label="性别">
                    <el-select v-model="form.sex"
                               placeholder="请选择性别">
                        <el-option label="男"
                                   value="男"></el-option>
                        <el-option label="女"
                                   value="女"></el-option>
                    </el-select>
                </el-form-item>

                <el-form-item class="choice-item"
                              label="籍贯">
                    <el-select v-model="form.nativePlace"
                               placeholder="请选择籍贯">
                        <el-option v-for="item in options"
                                   :key="item.provinceName"
                                   :label="item.provinceName"
                                   :value="item.provinceName">
                        </el-option>
                    </el-select>
                </el-form-item>

                <el-form-item class="choice-item"
                              label="手机">
                    <el-input v-model="form.phone"></el-input>
                </el-form-item>
            </el-form>

            <div class="submit-reset-button">
                <el-button type="primary"
                           @click="inquire">查找</el-button>
                <el-button @click="reset">重置</el-button>
            </div>
        </div>

        <div class="message-area">
            <el-table :data="
                    tableData.slice(
                        (currentPage - 1) * pageSize,
                        currentPage * pageSize
                    )
                "
                      style="width: 100%"
                      ref="multipleTable"
                      tooltip-effect="dark"
                      @selection-change="handleSelectionChange"
                      v-loading="tableLoading">
                <el-table-column type="selection"
                                 width="55"> </el-table-column>
                <el-table-column prop="name"
                                 label="姓名"
                                 width="180">
                </el-table-column>
                <el-table-column prop="sex"
                                 label="性别"
                                 width="90">
                </el-table-column>
                <el-table-column prop="degrees"
                                 label="学历"
                                 width="150">
                </el-table-column>
                <el-table-column prop="edu"
                                 label="毕业学院"
                                 width="180">
                </el-table-column>
                <el-table-column prop="phone"
                                 label="手机"
                                 width="180">
                </el-table-column>
                <el-table-column prop="graduationDate"
                                 label="毕业时间"
                                 width="180">
                </el-table-column>
                <el-table-column prop="nativePlace"
                                 label="籍贯"
                                 width="180">
                </el-table-column>
            </el-table>
        </div>

        <div class="mod-area">
            <el-button type="primary"
                       @click="add">添加</el-button>
            <el-button plain
                       @click="mod">修改</el-button>
            <el-button plain
                       @click="del">删除</el-button>
        </div>

        <div class="footer-area">
            <el-pagination class="pagination"
                           @size-change="handleSizeChange"
                           @current-change="handleCurrentChange"
                           :current-page="currentPage"
                           :page-sizes="[5, 10, 20, 50]"
                           :page-size="pageSize"
                           layout="total, sizes, prev, pager, next, jumper"
                           :total="tableData.length">
            </el-pagination>
        </div>

        <div class="add-area"
             ref="addArea">
            <div class="backdrop"></div>
            <div class="add-content">
                <div class="add-title"
                     v-if="isAdd">新增</div>
                <div class="add-title"
                     v-else>修改</div>
                <el-form :model="ruleForm"
                         :rules="rules"
                         ref="ruleForm"
                         label-width="150px"
                         class="demo-ruleForm"
                         size="mini">
                    <el-form-item label="姓名"
                                  prop="name">
                        <el-input v-model="ruleForm.name"
                                  style="width: 70%"></el-input>
                    </el-form-item>
                    <el-form-item label="性别"
                                  prop="sex">
                        <el-select v-model="ruleForm.sex"
                                   placeholder="请选择性别"
                                   style="width: 70%">
                            <el-option label="男"
                                       value="男"></el-option>
                            <el-option label="女"
                                       value="女"></el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item label="学历"
                                  prop="degrees">
                        <el-input v-model="ruleForm.degrees"
                                  style="width: 70%"></el-input>
                    </el-form-item>

                    <el-form-item label="毕业院校"
                                  prop="edu">
                        <el-input v-model="ruleForm.edu"
                                  style="width: 70%"></el-input>
                    </el-form-item>

                    <el-form-item label="毕业时间"
                                  required
                                  style="margin-bottom: 0">
                        <el-form-item style="width: 70%"
                                      prop="graduationDate">
                            <el-date-picker type="month"
                                            placeholder="选择日期"
                                            v-model="ruleForm.graduationDate"
                                            style="width: 100%"></el-date-picker>
                        </el-form-item>
                    </el-form-item>

                    <el-form-item label="籍贯"
                                  style="z-index: 8003"
                                  prop="nativePlace">
                        <el-select v-model="ruleForm.nativePlace"
                                   placeholder="请选择籍贯"
                                   style="width: 70%">
                            <el-option v-for="item in options"
                                       :key="item.provinceName"
                                       :label="item.provinceName"
                                       :value="item.provinceName">
                            </el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item label="手机号"
                                  prop="phone">
                        <el-input v-model="ruleForm.phone"
                                  style="width: 70%"></el-input>
                    </el-form-item>
                    <el-form-item label="邮箱"
                                  prop="email">
                        <el-input v-model="ruleForm.email"
                                  style="width: 70%"></el-input>
                    </el-form-item>
                    <el-form-item label="备注"
                                  prop="remark">
                        <el-input v-model="ruleForm.remark"
                                  style="width: 70%"></el-input>
                    </el-form-item>

                    <el-form-item>
                        <el-button type="primary"
                                   @click="submitForm('ruleForm')"
                                   v-if="isAdd">
                            新增</el-button>
                        <el-button type="primary"
                                   @click="updateForm('ruleForm')"
                                   v-else>
                            修改</el-button>
                        <el-button @click="cancelForm('ruleForm')">取消</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";
export default {
    data ()
    {
        return {
            form: {
                name: "",
                sex: "",
                nativePlace: "",
                phone: "",
            },

            options: [],

            tableData: [],

            tableDataCopy: [],

            tableLoading: true,

            multipleSelection: [],
            modId: "",
            currentPage: 1,
            pageSize: 5,

            ruleForm: {
                name: "",
                sex: "",
                degrees: "",
                graduationDate: "",
                nativePlace: "",
                email: "",
                phone: "",
                remark: "",
                edu: "",
            },

            isAdd: true,

            rules: {
                name: [
                    {
                        required: true,
                        message: "请输入姓名",
                        trigger: "blur",
                    },
                    //最多20个字符
                    {
                        max: 20,
                        message: "最多20个字符",
                        trigger: "blur",
                    },
                ],
                sex: [
                    {
                        required: true,
                        message: "请选择性别",
                        trigger: "change",
                    },
                ],
                degrees: [
                    {
                        required: true,
                        message: "请输入学历",
                        trigger: "change",
                    },
                    {
                        max: 20,
                        message: "最多20个字符",
                        trigger: "blur",
                    },
                ],
                edu: [
                    {
                        required: true,
                        message: "请输入毕业学院",
                        trigger: "change",
                    },
                    {
                        max: 50,
                        message: "最多50个字符",
                        trigger: "blur",
                    },
                ],
                graduationDate: [
                    {
                        type: "date",
                        required: true,
                        message: "请选择日期",
                        trigger: "change",
                    },
                ],
                nativePlace: [
                    {
                        required: true,
                        message: "请选择籍贯",
                        trigger: "change",
                    },
                ],
                phone: [
                    {
                        required: true,
                        message: "请输入11位手机号",
                        trigger: "change",
                    },
                    //验证格式为11位数字
                    {
                        pattern: /^[0-9]{11}$/,
                        message: "请输入11位手机号",
                        trigger: "change",
                    },
                ],
                email: [
                    {
                        required: false,
                    },
                    //正则验证邮箱格式
                    {
                        pattern:
                            /^[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.[a-zA-Z0-9]{2,6}$/,
                        message: "邮箱格式不正确",
                        trigger: "change",
                    },
                ],
                remark: [
                    {
                        required: false,
                    },
                    //做多200个字符
                    {
                        max: 200,
                        message: "备注不能超过200个字符",
                        trigger: "change",
                    },
                ],
            },
        };
    },

    created ()
    {
        console.log("created!");

        // 获取省份信息
        axios
            .get(`/api/provinceList`)
            .then((res) =>
            {
                console.log(res.data);
                let provinceList = res.data;
                for (var i in provinceList)
                {
                    let provinceObj = {
                        provinceID: i,
                        provinceName: provinceList[i],
                    };
                    this.options.push(provinceObj);
                }
            })
            .catch((err) =>
            {
                console.log(err);
                this.$message({ message: "省份数据请求失败", type: "warning", duration: "2000", });
            });

        // 获取全部实习生数据
        axios
            .get(`/api/studentList`)
            .then((res) =>
            {
                this.tableData = res.data;
                this.tableDataCopy = res.data;
                this.tableLoading = false;
                console.log(this.tableDataCopy);
            })
            .catch((err) =>
            {
                console.log(err);
                this.$message({ message: "实习生数据请求失败", type: "warning", duration: "2000", });
                this.tableLoading = false;
            });
    },

    methods: {
        inquire ()
        {
            console.log("inquire!");
            var newTabbleData = []; //新的表格数据
            for (var i = 0; i < this.tableDataCopy.length; i++)
            {
                if (
                    (this.tableDataCopy[i].name.indexOf(this.form.name) > -1 ||
                        this.form.name == "") &&
                    (this.tableDataCopy[i].phone.indexOf(this.form.phone) >
                        -1 ||
                        this.form.phone == "") &&
                    (this.tableDataCopy[i].nativePlace.indexOf(
                        this.form.nativePlace
                    ) > -1 ||
                        this.form.nativePlace == "") &&
                    (this.tableDataCopy[i].sex.indexOf(this.form.sex) > -1 ||
                        this.form.sex == "")
                )
                {
                    newTabbleData.push(this.tableDataCopy[i]);
                }
            }
            this.currentPage = 1;
            this.multipleSelection = [];
            this.tableData = newTabbleData;
        },
        reset ()
        {
            console.log("reset!");
            this.form = {
                name: "",
                sex: "",
                nativePlace: "",
                phone: "",
            };
            this.tableData = this.tableDataCopy;
            this.currentPage = 1;
            this.multipleSelection = [];
        },
        handleSizeChange (val)
        {
            console.log(`每页 ${val} 条`);
            this.pageSize = val;
            this.currentPage = 1;
        },
        handleCurrentChange (val)
        {
            console.log(`当前页: ${val}`);
            this.currentPage = val;
        },
        handleSelectionChange (val)
        {
            this.multipleSelection = val;
        },
        add ()
        {
            console.log("add!");
            //显示add-area
            this.$refs.addArea.style.display = "block";
            this.isAdd = true;
        },
        mod ()
        {
            console.log("mod!");
            if (this.multipleSelection.length == 0)
            {
                this.$message({ message: "没有选中的选项", type: "warning", duration: "1000", });
            } else if (this.multipleSelection.length > 1)
            {
                this.$message({ message: "只能选择一个选项", type: "warning", duration: "1000", });
            } else if (this.multipleSelection.length == 1)
            {
                this.isAdd = false;
                //显示mod-area
                this.$refs.addArea.style.display = "block";
                //获取选中的行数据
                this.ruleForm.name = this.multipleSelection[0].name;
                this.ruleForm.degrees = this.multipleSelection[0].degrees;
                this.ruleForm.phone = this.multipleSelection[0].phone;
                this.ruleForm.email = this.multipleSelection[0].email;
                this.ruleForm.graduationDate = new Date(
                    this.multipleSelection[0].graduationDate
                );
                this.ruleForm.edu = this.multipleSelection[0].edu;
                this.ruleForm.nativePlace = this.multipleSelection[0].nativePlace;
                this.ruleForm.remark = this.multipleSelection[0].remark;
                this.ruleForm.sex = this.multipleSelection[0].sex;
                this.modId = this.multipleSelection[0]._id;
            }
        },
        del ()
        {
            console.log("del!");
            if (this.multipleSelection.length == 0)
            {
                this.$message({ message: "没有选中的选项", type: "warning", duration: "1000", });
            } else if (this.multipleSelection.length >= 1)
            {
                //只保留id值

                let idList = [];
                for (var i = 0; i < this.multipleSelection.length; i++)
                {
                    var obj = {
                        _id: this.multipleSelection[i]._id,
                    };
                    idList.push(obj);
                }

                axios
                    .post(`/api/deleteStudent`, idList)
                    .then((res) =>
                    {
                        console.log(res);
                        if (res.data.status == "success")
                        {
                            this.$message({ message: "删除数据成功", type: "success", duration: "2000", });

                            axios
                                .get(`/api/studentList`)
                                .then((res) =>
                                {
                                    this.tableData = res.data;
                                    this.tableDataCopy = res.data;
                                    this.tableLoading = false;
                                    console.log(this.tableDataCopy);
                                })
                                .catch((err) =>
                                {
                                    console.log(err);
                                    this.$message({ message: "实习生数据请求失败", type: "warning", duration: "2000", });
                                    this.tableLoading = false;
                                });
                        } else
                            this.$message({ message: "删除失败", type: "warning", duration: "2000", });
                    })
                    .catch((err) =>
                    {
                        console.log(err);
                        this.$message({ message: "删除失败", type: "warning", duration: "2000", });
                    });
                this.tableLoading = true;
            }
        },

        submitForm (formName)
        {
            this.$refs[formName].validate((valid) =>
            {
                if (valid)
                {
                    var graduationDatey = this.ruleForm.graduationDate.getFullYear();
                    var graduationDatem = this.ruleForm.graduationDate.getMonth() + 1;
                    //浅拷贝一下
                    var ruleFormCopy = JSON.parse(JSON.stringify(this.ruleForm));
                    ruleFormCopy.graduationDate = graduationDatey + "-" + graduationDatem;

                    console.log(ruleFormCopy);

                    axios
                        .post(`/api/addStudent`, ruleFormCopy)
                        .then((res) =>
                        {
                            console.log(res);
                            if (res.request.status == 200 && res.request.statusText == "OK")
                            {
                                this.$message({ message: "新增成功", type: "success", duration: "2000", });
                                axios
                                    .get(`/api/studentList`)
                                    .then((res) =>
                                    {
                                        this.tableData = res.data;
                                        this.tableDataCopy = res.data;
                                        this.tableLoading = false;
                                        console.log(this.tableDataCopy);
                                    })
                                    .catch((err) =>
                                    {
                                        console.log(err);
                                        this.$message({ message: "实习生数据请求失败", type: "warning", duration: "2000", });
                                        this.tableLoading = false;
                                    });
                            } else
                                this.$message({ message: "新增失败", type: "warning", duration: "2000", });
                        })
                        .catch((err) =>
                        {
                            console.log(err);
                            this.$message({ message: "新增失败", type: "warning", duration: "2000", });
                        });

                    this.$refs.addArea.style.display = "none";
                    this.tableLoading = true;
                } else
                {
                    this.$message({ message: "新增失败", type: "warning", duration: "2000", });
                    return false;
                }
            });
        },

        updateForm (formName)
        {
            this.$refs[formName].validate((valid) =>
            {
                if (valid)
                {
                    var graduationDatey = this.ruleForm.graduationDate.getFullYear();
                    var graduationDatem = this.ruleForm.graduationDate.getMonth() + 1;
                    //浅拷贝一下
                    var ruleFormCopy = JSON.parse(JSON.stringify(this.ruleForm));
                    ruleFormCopy.graduationDate = graduationDatey + "-" + graduationDatem;
                    var _id = this.modId;
                    ruleFormCopy._id = _id;
                    axios
                        .post(`/api/updateStudent`, ruleFormCopy)
                        .then((res) =>
                        {
                            console.log(res);
                            if (res.data.status == 'success' && res.data.message == "修改成功")
                            {
                                this.$message({
                                    message: "修改成功",
                                    type: "success",
                                    duration: "2000",
                                });
                                axios
                                    .get(`/api/studentList`)
                                    .then((res) =>
                                    {
                                        this.tableData = res.data;
                                        this.tableDataCopy = res.data;
                                        this.tableLoading = false;
                                        console.log(this.tableDataCopy);
                                    })
                                    .catch((err) =>
                                    {
                                        console.log(err);
                                        this.$message({ message: "实习生数据请求失败", type: "warning", duration: "2000", });
                                        this.tableLoading = false;
                                    });
                            }
                            else
                                this.$message({ message: "修改失败", type: "warning", duration: "2000", });
                        })
                        .catch((err) =>
                        {
                            console.log(err);
                            this.$message({ message: "修改失败", type: "warning", duration: "2000", });
                        });

                    this.$refs.addArea.style.display = "none";
                    this.tableLoading = true;
                }
                else
                {
                    this.$message({ message: "修改失败", type: "warning", duration: "2000", });
                    return false;
                }
            });
        },

        cancelForm (formName)
        {
            this.$refs[formName].resetFields();
            this.$refs.addArea.style.display = "none";
        },
    },
};
</script>

<style>
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}
.header-area {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0 10px 0;
    color: #ffffff;
    background: #212f0ce8;
}
.choice-area {
    padding: 10px 0 10px 0;
    display: flex;
    width: 70%;
    margin: 0 auto;
}
.choice {
    flex: 1 70%;
    padding: 10px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    grid-gap: 0.5em;
}
.choice-item {
    max-width: 280px;
    margin: auto;
}
.submit-reset-button {
    margin: auto;
}

.message-area {
    padding: 10px 0 10px 0;
    width: 80%;
    margin: 0 auto 20px auto;
}

.cell {
    text-align: center;
}

.mod-area {
    padding: 10px 0 10px 0;
    width: 70%;
    margin: 0 auto;
}

.footer-area {
    padding: 10px 0 10px 0;
    width: 80%;
    margin: 0 auto 20px auto;
}

.pagination {
    text-align: center;
}

.add-area {
    display: none;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1040;
}
.add-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0 10px 0;
    color: #ffffff;
    margin-bottom: 20px;
    background: #212f0ce8;
}
.add-content {
    position: fixed;
    top: 50px;
    left: 25em;
    right: 25em;
    bottom: 100px;
    width: 40%;
    background: white;
    border-radius: 10px;
    z-index: 1041;
}
.add-content > el-form {
    align-content: center;
}
</style>
